{% extends "layout.html" %}
{% block content %}
<section >
  <div class="container py-5">


    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="card-title">Project's Source Code</h5>
            <p class="card-text">The place where the magic lies and goodness forge.</p>
            <a href="https://github.com/gegendepressed/OpenMedia" class="btn btn-primary" target="_blank">GitHub</a>
          </div>  
        </div>
      </div>
    </div>
    
    <h4 class="text-center">--- Team : CodeForcers ---</h4>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{url_for('static',filename='sairaj.svg')}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Sairaj Pai</h5>
            <p class="text-muted mb-1">I'm passionate about tabla, sci-fi, sitcoms, and movies, while also exploring coding and embracing diverse experiences.</p>
            <p class="text-muted mb-4">KC College Of Engineering, Thane</p>
            <div class="d-flex justify-content-center mb-2">
              <a class="btn btn-primary" href="https://github.com/gegendepressed">Follow</a>
              <a class="btn btn-outline-primary ms-1" href="mailto:sairajpai2022@kccemsr.edu.in">Message</a>
            </div>
          </div>
        </div>
      </div>
      </div>

        <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{url_for('static',filename='yash.svg')}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Yash Patil</h5>
            <p class="text-muted mb-1">I'm passionate about Programming, sci-fi, OpenSource and Philosophy while also Reading books.</p>
            <p class="text-muted mb-4">KC College Of Engineering, Thane</p>
            <div class="d-flex justify-content-center mb-2">
              <a class="btn btn-primary" href="https://github.com/FrosT2k5">Follow</a>
              <a class="btn btn-outline-primary ms-1" href="mailto:yashpatil2022@kccemsr.edu.in">Message</a>
            </div>
          </div>
        </div>
      </div>
      </div>

          <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{url_for('static',filename='nandini.svg')}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Nandini Nichite</h5>
            <p class="text-muted mb-1">Passionate about reading books and diving into coding, exploring new realms in literature and technology with enthusiasm.</p>
            <p class="text-muted mb-4">KC College Of Engineering, Thane</p>
            <div class="d-flex justify-content-center mb-2">
              <a class="btn btn-primary" href="https://github.com/NandiniNichite">Follow</a>
              <a class="btn btn-outline-primary ms-1" href="mailto:nandininichite2022@kccemsr.edu.in">Message</a>
            </div>
          </div>
        </div>
      </div>
     </div>

    </div>
</section>
{% endblock %}
