{% extends "layout.html" %}
{% block content %}
<section >
  <div class="container py-5">


    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Sairaj Pai</h5>
            <p class="text-muted mb-1">KC College Student</p>
            <p class="text-muted mb-4">Thane</p>
            <div class="d-flex justify-content-center mb-2">
              <a class="btn btn-primary"href="https://sairalpai2022@kccemsr.edu.in">Follow</a>
              <a class="btn btn-outline-primary ms-1"href="https://github.com">Message</a>
            </div>
          </div>
        </div>
      </div>
      </div>

        <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Yash Patil</h5>
            <p class="text-muted mb-1">KC College Student</p>
            <p class="text-muted mb-4">Thane</p>
            <div class="d-flex justify-content-center mb-2">
              <a class="btn btn-primary"href="yashpatil2022@kccemsr.edu.in">Follow</a>
              <a class="btn btn-outline-primary ms-1"href="https://github.com">Message</a>
            </div>
          </div>
        </div>
      </div>
        </div>

          <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src={{url_for('static',filename='nandini.jpg')}} alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Nandini Nichite</h5>
            <p class="text-muted mb-1">KC College Student</p>
            <p class="text-muted mb-4">Thane</p>
            <div class="d-flex justify-content-center mb-2">
              <a class="btn btn-primary"href="nandininichite2022@kccemsr.edu.in">Follow</button>
              <a class="btn btn-outline-primary ms-1"href="https://github.com">Message</a>
            </div>
          </div>
        </div>
      </div>
     </div>

    </div>
</section>
{% endblock %}
