{% extends "layout.html" %}
{% block content %}

    {% if current_user.is_authenticated %}
        <h1 class="mt-2 mb-4"> Welcome, {{ current_user.fullname }}! </h1>
    {% else %}
        <h1 class="mt-2 mb-4"> Home Page </h1>
    {% endif %}

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="text-decoration-none me-3" href="#">{{ post.owner.fullname }}</a>
              <small class="text-muted">{{ datetime.fromtimestamp(post.timestamp, tz=tz).strftime('%d/%m/%Y %I:%M %p') }}</small>
            </div>
            <h2><a class="article-title text-decoration-none" href="{{ url_for('post',post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.text }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}