{% extends "layout.html" %}
{% import "macros.html" as macro %}

{% block content %}

    {% if current_user.is_authenticated %}
        <h1 class="mt-2 mb-4"> Welcome, {{ current_user.fullname }}! </h1>
    {% else %}
        <h1 class="mt-2 mb-4"> Home Page </h1>
    {% endif %}

    {% for post in posts %}
        <article class="media content-section card">
            {{ macro.render_post(post, datetime, tz) }}
        </article>
    {% endfor %}

    {{ macro.render_pagination(current_page, page_list, endpoint='home') }}
{% endblock %}
