{% extends "layout.html" %}
{% block content %}

    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">Log In</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}

                {{ form.submit(class="btn btn-primary btn-lg btn-block mt-4") }}

            </div>
        </fieldset>
<br>
        
        <div class="border-top pt-3">
            <small class="text-muted">
                Create a New Account ? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
            </small>
            <br>
             <small class="text-muted">
                Forgot Password ? <a class="ml-2" href="{{ url_for('reset_request') }}">Reset</a>
            </small>
        </div>
    </form>
{% endblock %}
