{% macro render_post(post, datetime, tz) -%}
    <div class="media-body">
        <div class="article-metadata">
            <a class="text-decoration-none me-3" href="#">{{ post.owner.fullname }}</a>
            <small class="text-muted">{{ datetime.fromtimestamp(post.timestamp, tz=tz).strftime('%d/%m/%Y %I:%M %p') }}</small>
        </div>
        <h2><a class="article-title text-decoration-none" href="{{ url_for('post',post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.text }}</p>
        {% if post.image %}
            <img class="card-img-bottom mb-2" src="{{ post.image }}" alt="Card image cap">
        {% endif %}
    </div>
{%- endmacro %}

