{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="text-decoration-none me-3" href="#">{{ post.owner.fullname }}</a>
              <small class="text-muted">{{ datetime.fromtimestamp(post.timestamp, tz=tz).strftime('%d/%m/%Y %I:%M %p') }}</small>
        </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.text }}</p>
    </div>

</article>
<li class="button-container d-flex justify-content-between">
    <div class="mt-2 mb-4">
        <ul class="button" onclick="location.href='{{ url_for('like_post', post_id=post.id) }}';">
            {% if has_liked %}
                <img src="{{ url_for('static', filename='liked.svg') }}" class="me-2 likeButton">
            {% else %}
                <img src="{{ url_for('static', filename='notliked.svg') }}" class="me-2 likeButton">
            {% endif %}
            Likes: {{ post.no_of_likes }}
        </ul>
    </div>
    
    <div class="mt-2 mb-4 ms-4">
        {% if post.owner == current_user %}
        <ul class="button" onclick="location.href='{{ url_for('update_post', post_id=post.id) }}';">
            <img src="{{ url_for('static', filename='edit.svg') }}" class="me-2 updateButton">
        </ul>
        {% endif %}
    </div>
</li>


    {% if form %}
    <div class="accordion"  id="commentFormParent">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCommentSection" aria-expanded="false" aria-controls="flush-collapseOne">
                            Write down your thoughts!
                        </button>
                    </h2>


                    <div id="flush-collapseCommentSection" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#commentFormParent">
                        <div class="accordion-body">
                            Enter a comment:
                            {{ form.text.label(class="form-control-label") }}

                            {% if form.text.errors %}
                                {{ form.content(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.text.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.text(class="form-control form-control-lg") }}
                            {% endif %} 
                        </div>

                        <div class="form-group">
                            <div class="d-grid gap-2">
                                 {{ form.submit(class="btn btn-primary btn-lg btn-block mt-4 center") }}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}

        <div class="media-body">
        <h4 class="border-bottom mt-4">Comments</h4>
        {% for comment in comments %}
            <div class="media content-section">
                <div class="media-body">
                    <a class="text-decoration-none" href="#"> {{ comment.created_by.fullname }}</a>
                    <h3>{{ comment.text }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
<br>
{% endblock %}